<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan List</title>
    <link rel="stylesheet" href="{% static 'inde2.css' %}">
</head>
<body>

    <div class="a1">
        <h1>Loan</h1>
        <div class="base">
            <a href="{% url 'base' %}"><h3 class="sas">Home</h3></a>
            <a href="{% url 'o_cr' %}"><h3 class="sas">Add</h3></a>
        </div>
    </div>

    <div class="search-box">
        <form method="get" action="{% url 'o_list' %}">
            <input type="text" name="q" placeholder="search" 
                   value="{{ request.GET.q }}">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="b1">
        <table>
            <caption><h3>Loan List</h3></caption>
            <tr>
                <th>Customer</th>
                <th>Total Amount</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Is Paid</th>
                <th>Created At</th>
                <th>Detail</th>
            </tr>
            {% for category in object_list %}
            <tr>
                <td>{{ category.customer }}</td>
                <td>{{ category.total_amount }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.duration }}</td>
                <td>{{ category.is_paid }}</td>
                <td>{{ category.created_at }}</td>
                <td><a href="{% url 'o_detail' category.id %}">Get</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
