<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1>
            <a  href="{% url 'p_list' %}">Menu</a>
            {% if user.is_superuser %}

            <a   href="{% url 'p_delete' object.id %}">Delete</a>
            <a  href="{% url 'p_up' object.id %}">Update</a>
            {% endif %}
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">

                <h3>loan: {{object.loan}}</h3>
                <h3>amount: {{object.amount}}</h3>
                <h3>payment_date: {{object.payment_date}}</h3>
                <h3>Description: {{object.description}}</h3>


            </div>
        </div>
<div class="ssss"> 
        {% for vakan in vakansi %}
        <tr> <hr><hr>
        <h3>Product: {{ vakan.product }}</h3>
        <h3>Order_date: {{ vakan.order_date }}</h3>
        <h3>User: {{ vakan.user}}</h3>
        <h3>Quantity: {{ vakan.quantity }}</h3>
        <h3>Status: {{ vakan.status }}</h3>
        </tr>
        {% endfor %}
    </div>

{% endblock content %}
</body>
</html>
